@using PetProject.Models
@model UserViewModel

<div>
    <form method="post">
        <div>
            Name: @Html.TextBoxFor(x => x.LoginName)
        </div>
        <div>
            Email: @Html.TextBoxFor(x => x.Email)
        </div>
        <div>
            Password: @Html.TextBoxFor(x => x.Password)
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
    </form>

</div>