<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetProject.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    @RenderSection("JScript", false)
    @RenderSection("Styles", false)
</head>
<body>
    <div class="main-container">
        <div class="navigation-leftColumn-container">
            <div class="logo-of-site">
                <a asp-controller="Home" asp-action="Index"> <img class="logo-of-site" src="/images/cat_logo.png" /></a>
            </div>
            <a class="item-of-column" asp-controller="User" asp-action="OpenProfile">
                <img class="navigation-logo" src="/images/other.png" />
                <div class="name-of-column">Мой профиль</div>
            </a>
            <a class="item-of-column" asp-controller="Home" asp-action="Index">
                <img class="navigation-logo" src="/images/messages.png" />
                <div class="name-of-column">Моя лента</div>
            </a>
            <a class="item-of-column" asp-controller="Home" asp-action="Index">
                <img class="navigation-logo" src="/images/icon.png" />
                <div class="name-of-column">Интересное</div>
            </a>
            <a class="item-of-column" asp-controller="User" asp-action="AddUser">
                <img class="navigation-logo" src="/images/home.png" />
                <div class="name-of-column">Создать профиль</div>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="logout-button item-of-column" asp-controller="User" asp-action="Logout">Выйти</a>
            }
            else
            {
                <a class="login-button item-of-column" asp-area="" asp-controller="User" asp-action="Login">Войти</a>
            }
        </div>
        <div class="content-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer>
            &copy; 2024 - PetProject
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
