html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-logo {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.navigation-leftColumn {
    flex-direction: column;
    margin: 30px;
    width: fit-content;
}
.navigation-logo {
    flex-direction: column;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.avatar {
    max-width: 40px;
    max-height: 40px;
}